<section class="login">
    <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="POST" class="login-form">
            <label for="login-username">
                Username:
            </label>
            <input type="text" name="login-username" id="login-username" placeholder="" value=""/>
            <br/>
            <label for="login-password">
                Password:
            </label>
            <input type="password" name="login-password" id="login-password" placeholder="" value=""/>
            <br/>

            <button type="submit">Submit</button>
            <br/>
            
            <p><a href="/newaccount"> New user? Create an account here! </a></p>
            <br/>
            <p><a href="/"> Back to main page </a></p>
        </form>
        <h3 class="successText">
            {{{successText}}}
        </h3>
        <h3 class="failureText">
            {{{failureText}}}
        </h3>
    </div>
</section>